*{
	padding: 0;
	margin: 0;
}

body{
	font-family: "Arial";
}

/*css transition*/
.show{
	display: block;
}

.hide{
	display: none;
}

/*recent.html*/
#menu{
	background-color: #d35400;
	width: 15%;
	height: 100vh;
}

#menu .menu-container{
	padding-top: 35px;
}

a{
	text-decoration-line: none;
}

#menu .menu-container .menu-item{
	padding: 10px 20px;
	color: white;
}

.active{
	background-color: #e67e22;
}

.menu-item:hover{
	background-color: #e67e22;
	cursor: pointer;
}

#file{
	position: absolute;
	top: 0;
	left: 15%;
	height: 100vh;
	overflow-y: scroll;
}

#file .file-item{
	display: inline-block;
	margin: 35px 40px;
}

#file .file-item img:hover{
	box-shadow: 0 2px 8px 0 gray;
	cursor: pointer;
}

#file .file-item p:nth-child(2){
	text-align: center;
	font-weight: bold;
}

#file .file-item p:nth-child(3){
	text-align: center;
	color: gray;
	margin-top: 5px;
}

hr#division{
	margin: 10px 0;
	border: 0;
  	width: 100%;
  	height: 1px;
  	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

/*modal*/

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    border-radius: 5px;
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: white;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: black;
    float: right;
    font-size: 15px;
    font-weight: bold;
    border: 1px solid black;
    padding: 10px 20px;
}

.close:hover, .close:focus {
    color: gray;
    border: 1px solid gray;
    text-decoration: none;
    cursor: pointer;
}

.modal-body{
	padding: 2px 16px;
	height: 200px;
}

.modal-body p:nth-child(1){
	margin-top: 30px;
	text-align: center;
}

.modal-body p:nth-child(2){
	font-size: 50px;
	margin-top: 10px;
	text-align: center;
	background-color: #e1dfdf;
	border-radius: 5px;
}

.modal-body p:nth-child(3){
	margin-top: 20px;
	text-align: center;
	color: gray;
}

/*new-canvas.html*/
#setup-canvas-panel{
	position: absolute;
	top: 0;
	left: 15%;
	height: 100vh;
	width: 85%;
	overflow-y: scroll;
}

#setup{
	display: inline-block;
}

#setup p{
	margin-top: 40px;
	margin-left: 20px;
	font-size: 20px;
}

#setup table{
	background-color: #d2d2d2;
	margin-left: 20px;
	margin-top: 10px;
	padding: 20px 60px;
	border-radius: 3px;
}

table tr td{
	padding: 7px;
}

table tr td div{
	padding: 8px 10px;
	text-align: right;
}

table tr td input, select{
	background-color: #aaaaaa;
	padding: 6px;
	margin-left: -17px;
	font-size: 14px;
	border: none;
	width: 85%;
}

table tr td button{
	float: right;
	padding: 8px 10px;
    background-color: #2980b9;
    border: none;
    margin-bottom: 15px;
    color: white;
    font-size: 16px;
    width: 110%;
}

table tr td button:hover{
	cursor: pointer;
	background-color: #0081ff;
}

table tr td span{
    text-align: left;
    margin-left: -20px;
    font-size: 14px;
    color: black;
}

table tr td span:hover{
	color: #0081ff;
	cursor: pointer;
}

#colorpick{
	position: relative;
    left: 28px;
    padding: 3px;
    width: 20px;
}

#preview{
	display: none;
    position: absolute;
    background-color: #d2d2d2;
    width: 600px;
    height: 600px;
    top: 72px;
    margin-left: 20px;
    overflow-y: scroll;
    overflow-x: scroll;
    transition: .325s;
}

#preview span{
	float: right;
	padding: 10px;
}

#preview span:hover{
	background-color: white;
}

.showPreviewFull{
	transition: .325s;
	left: 0;
	width: 1090px !important;
}

.sub-settings{
	padding-top: 0;
    position: relative;
    background-color: #e67e22;
    color: white;
    padding: 3px 20px;
    display: none;
}

.show-settings{
	display: block;
}

.sub-settings ul li{
	list-style: none;
	line-height: 25px;
}

.sub-settings ul li:hover{
	color: black;
	cursor: pointer;
}

#about-content{
	position: absolute;
	top: 0;
	left: 15%;
	height: 100vh;
	overflow-y: scroll;
	width: 85%;
}

#developers{
	position: absolute;
	top: 300px;
	left: 18%;
	overflow-y: hidden;
	width: 82%;
}

#developers p{
	font-size: 20px;
}

#about-panel p#copyright{
	position: absolute;
	right: 10px;
	bottom: 0;
	font-size: 14px;
	color: gray;
}

.card {
	border: 1px solid #e3e3e3;
    transition: 0.3s;
    width: 18%;
    display: inline-block;
    padding: 20px;
    margin: 20px;
    background-color: whitesmoke;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card div{
    padding: 2px 16px;
}

.card div #task{
	font-size: 13px;
}

#about-content div{
	width: 90%;
    background-color: #ebebeb;
    font-size: 25px;
    margin: auto;
    margin-top: 40px;
    padding: 14px 20px;
    box-shadow: 12px 12px #d8d8d8;
}

#about-content div p{
	margin-bottom: 10px;
}

#about-content div img{
	width: 125px;
    margin-top: 20px;
}

#about-content div span{
	color: #6b6969;
    position: absolute;
    width: 73%;
    left: 19%;
    font-size: 15px;
    top: 137px;
    text-align: center;
}

#main-sketch{
	margin: auto;
	margin-top: 20px;
	box-shadow: 0 3px 15px -6px;
}

#sketchpad ul{
	background-color: white;
	box-shadow: 0 2px 15px -6px;
	height: 30px;
}

#sketchpad ul li{
	display: inline-block;
    margin: 7px 10px;
    font-size: 14px;
}

#sketchpad ul li:hover{
	cursor: pointer;
	
}